* {
  padding: 0;
  /* margin: 0; */
}

header {
  font-size: 20px;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: 16px;
}
p {
  margin: 0;
}
nav span {
  color: grey;
  cursor: pointer;
}

nav span:hover {color:black;}

.selected {
color:black;
}

nav a {
  text-decoration: none;
  color: gray;
}

nav a:hover {
  color: black;
}

.main-head {
  padding-left: 2em;
  padding-top: 2em;
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}

#spotlight {
  display: none;
  flex-direction: column;
}

#spotlight img {
  max-width: 100%;
}

#information {
  display: none;
  padding-left: 2em;
  padding-right: 2em;
}

#indexLink {
  display: none;
}

#index {
  display: none;
  table-layout: fixed;
  width: 100%;
}

#index img {
  width: 100px;
  height: auto;
}


td, th {
  padding: 1em;
  text-align: left;
}

#gallery {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-left: 2em;
  padding-right: 2em;
  /* border: 1px solid black; */
}

.galleryPiece img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin-left: 2em;
}

.wrapper {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}

@media (min-width: 500px) {

  .wrapper {
    grid-template-columns: 1fr 3fr;
    row-gap: 3em;
    column-gap: 0;
    grid-template-areas:
      "header  header"
      "nav     content"
      "nav     content"
      "ad      footer";
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
    margin-left: 2em;
  }

  #gallery {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto;
    /* border: 1px solid black; */
  }

  #gallery div:nth-child(2n) {
    align-self: center;
  }
  
  #indexLink {
    display: block;
  }
  
}

@media (min-width: 700px) {

  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    row-gap: 3em;
    column-gap: 0;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }

   ul {
    list-style-type: none;
    margin-left: 2em;
    margin-top: 0;
  }

   #gallery {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* border: 1px solid black; */
  }

  #gallery div:nth-child(2n) {
    /* align-self: center; */
  }

  #indexLink {
    display: block;
  }
  
  
}